body{
    color:black;
    background: rgb(141, 36, 29);
    margin: 0px;
    font-family: "Bungee Static", sans-serif;
}

header{
    border-bottom: solid 2px rgb(3, 3, 133);
    padding: 20px;
    font-size: 32px;
    color: rgb(12, 12, 12);
}

.chamada{
    background: rgb(51, 66, 51);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.categoria-video{
    display:flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left:20px;
    padding-right: 20px;
}